{% extends 'base.html'%}
{% block content%}
<style>
    .backwhite
    {
      padding: 9px;
      padding-left: 15px;
      background: #fff !important;
    }
    .note-cov
    {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
    }
    .curve-around input , .curve-around select
    {
        border-radius: 30px;
        height: 45px;
        border: 2px solid #4755AB;
    }

    .success_check{
       color: #50BC86;
    }
    .warning_info{
        color: #FBB822;
    }
    .danger_cross{
        color: #F03E7A;
    }






</style>

<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4 backwhite">
            <ol class="breadcrumb my-breadcrumb pt-3">
                <li class="breadcrumb-item"><a href="/">
                    {% if request.session.lang == "EN" %}
                    <h6><b><i class="fa fa-home mr-2"></i>Home</b></h6>
                    {% else %}
                    <h6><b><i class="fa fa-home ml-2"></i> الصفحة الرئيسية</b></h6>
                    {% endif %}</a></li>
                <li class="breadcrumb-item" aria-current="page">
                    {% if request.session.lang == "EN" %}
                    <h6 class="text-primary"><b>Policies</b></h6>
                    {% else %}
                    <h6><b>سياسات</b></h6>
                    {% endif %}
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% if request.session.lang == "EN" %}
                    Create Policy
                    {% else %}
                    إنشاء سياسة
                    {% endif %}
                </li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row m-0">
                    <div class="col-lg-12 backwhite">
                        <h4 class="ml-2 text-primary pt-4">
                            {% if request.session.lang == "EN" %}
                            <i class="fa fa-graduation-cap mr-2"></i><b>Create Policy</b>
                            {% else %}
                            <i class="fa fa-graduation-cap mr-2"></i><b>إنشاء سياسة</b>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 p-2 backwhite">
                        <a href="{% url 'Training' %}" class="btn btn-danger btn-style ml-3"
                           style="height: 35px;font-size: 14px;padding-top: 4px;">
                            {% if request.session.lang == "EN" %}
                            Discard
                            {% else %}
                            تجاهل
                            {% endif %}
                        </a>
                        <button type="submit" class="btn btn-sm btn-success btn-style  ml-1 text-white "
                                style="height: 35px;font-size: 14px;padding-top: 4px;">
                            {% if request.session.lang == "EN" %}
                            Save
                            {% else %}
                            حفظ
                            {% endif %}
                        </button>
                    </div>

                    <div class="col-lg-6 col-md-12 col-12 p-2 backwhite">


                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 backwhite pt-5">
                        <div class="row m-0 d-flex justify-content-center">

                            {% if request.session.lang == "EN" %}
                            <div class="col-lg-10 col-md-12 col-12 bg-primary p-2"
                                 style="border-radius: 0 20px 0 20px;"><h3 class="text-white text-center"
                                                                           style="padding-top: 10px;"><b>Kindly fill
                                in the following details</b></h3></div>
                            {% else %}
                            <div class="col-lg-10 col-md-12 col-12 bg-primary p-3"
                                 style="border-radius: 0 20px 0 20px;"><h3 class="text-white text-center"><b> يرجى ملء
                                تفاصيل التالية</b></h3></div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-12 backwhite ">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-md-10 col-12 p-4 note-cov mt-5 mb-5" style="position:relative;">


                                <div class="col-lg-10 col-12 m-auto  p-2">
                                    {% if request.session.lang == "EN" %}
                                    <h6 class="mt-3"><b>Title Arabic</b></h6>
                                    {% else %}
                                    <h6 class="mr-4 mt-3"><b>العنوان عربي</b></h6>
                                    {% endif %}
                                </div>
                                <div class="col-lg-10 col-12 m-auto curve-around p-2">
                                    <input type="text" name="arTitle" class="form-control"
                                           value="{{data.titleAR}}">
                                </div>

                                <div class="col-lg-10 col-12 m-auto  p-2">
                                    {% if request.session.lang == "EN" %}
                                    <h6 class="mt-3"><b>Title English</b></h6>
                                    {% else %}
                                    <h6 class="mr-4 mt-3"><b>العنوان انجليزي</b></h6>
                                    {% endif %}
                                </div>
                                <div class="col-lg-10 col-12 m-auto curve-around p-2">
                                    <input type="text" name="enTitle" class="form-control"
                                           value="{{data.titleEN}}">
                                </div>

                                <div class="col-lg-10 col-12 m-auto  p-2">
                                    {% if request.session.lang == "EN" %}
                                    <h6 class="mt-3"><b>File</b></h6>
                                    {% else %}
                                    <h6 class="mr-4 mt-3"><b>الملف</b></h6>
                                    {% endif %}
                                </div>

                                <div class="col-lg-10 col-12 m-auto  p-2">
                                    <input type="file" name="file" class=""
                                           value="/media/{{data.file}}" required>
                                </div>
                                {% if data.file %}
                                <div class="col-lg-10 col-12 m-auto  p-2">
                                    <img src="/media/{{data.file}}" alt="update only when you edit" height="100" width="160">
                                </div>
                                {% endif %}

                                <div class="col-lg-10 col-12 m-auto text-right  p-2">
                                    <button type="submit"
                                            class="btn btn-sm btn-success  btn-style  col-lg-4 ml-1 text-white "
                                            style="height: 40px;font-size: 16px;padding-top: 8px; margin-top: 30px; border-radius: 20px;">
                                        {% if request.session.lang == "EN" %}
                                        <i class="fa fa-paper-plane mr-2"></i>Save
                                        {% else %}
                                        <i class="fa fa-paper-plane ml-2"></i>يحفظ
                                        {% endif %}
                                    </button>
                                </div>

                                <i class="fa fa-file-text fa-3x text-success" aria-hidden="true"
                                   style="position: absolute; top: -17px;left:-12px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>


{% endblock%}