<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gareeb</title>
    <link href="/static/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap-4.5.3-dist/js/jquery.min.js"></script>
    <script src="/static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/assets/css/style-starter.css">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Poppins:wght@100&display=swap"
          rel="stylesheet">
    <link href="/static/assets/css/stylesheet.css" rel="stylesheet">
    <style>
           body{
           background: linear-gradient(to right, #4755ab 0%, #a3aad5 100%);
font-family: 'Open Sans', sans-serif;

    }


















    </style>


    <style>
    .spinner{
        height:70px;width:70px;border: 10px solid gray;border-bottom:10px solid  #253443;
        animation:ani 1s linear infinite;border-radius: 50%;margin:auto
    }
    @keyframes ani{
        from{transform:rotate(0deg)}
        to{transform:rotate(360deg)}
    }

















    </style>
</head>

<body class="sidebar-menu-collapsed" style="">
<div class="container">

    <div class="row">
        <div class="col-md-12  d-flex justify-content-center">
            <div class="sign " style="height:120px;width:120px;">
                <img src="/static/assets/images/gareebl.png">
            </div>
        </div>
    </div>
</div>

<div class="container" style="height:707px;width:100%;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="my-5 p-5" style="box-shadow:0px 0px 10px black; background:#fff;border-radius: 15px;">
                <div class="register__header text-left mb-4 ">
                    <h3 class="register__title mb-2 d-flex justify-content-center" style="color: #67666E;">
                        {% if request.session.lang == "EN" %}
                        Forgot Password
                        {% else %}
                        هل نسيت كلمة السر
                        {% endif %}
                    </h3><br>
                    <div class="text-center">
                        {% if request.session.lang == "EN" %}
                        <p>Please enter your valid E-mail Address of your account. A verification code will be sent to
                            your E-mail Address.
                            Once you have received the verification code, you will be able to choose a new
                            password
                            of your account. </p>
                        {% else %}
                        <p>الرجاء إدخال عنوان بريدك الإلكتروني الصحيح الخاص بحسابك. سيتم إرسال رمز التحقق إلى عنوان
                            البريد الإلكتروني الخاص بك. بمجرد استلام رمز التحقق ، ستتمكن من اختيار كلمة مرور جديدة
                            لحسابك. </p>
                        {% endif %}
                    </div>

                </div>
                <div id="result"></div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <i class="fa fa-envelope" aria-hidden="true"></i> <label for="un"
                                                                                 class="input__label">
                        <small>
                            {% if request.session.lang == "EN" %}
                            Email Address
                            {% else %}
                            عنوان البريد الإلكتروني
                            {% endif %}
                        </small></label>
                        <input type="text" class="form-control login_text_field_bg input-style" id="un" name="username"
                               placeholder="Enter Email Here...">
                    </div>
                    <button type="button" class="btn btn-style mt-2 text-light" style="background-color: #000000;
           background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); border-radius:30px;" onclick="getpass()"
                            id="continue">
                        {% if request.session.lang == "EN" %}
                        Click to Continue
                        {% else %}
                        انقر للمتابعة
                        {% endif %}
                    </button>

                    <div class="mt-2" style="display:none" id="spin">
                        <div class="spinner"></div>
                    </div>

                    <div class="form-group" style="display:none" id="afterotp">
                        {% if request.session.lang == "EN" %}
                        <label>Enter OTP</label>
                        {% else %}
                        <label>OTP  أدخل </label>
                        {% endif %}
                        <input type="number" class="form-control" id="uotp" placeholder="Enter OTP Here...">

                        <button onclick="matchotp()" type="button" class="btn btn-info mt-3">
                            {% if request.session.lang == "EN" %}
                            Verify OTP
                            {% else %}
                            تحقق من OTP
                            {% endif %}
                        </button>
                    </div>

                    <div style="display:none" id="changepass">
                        <div class="form-group">
                            {% if request.session.lang == "EN" %}
                            <label>Enter New Password</label>
                            {% else %}
                            <label>أدخل كلمة مرور جديدة</label>
                            {% endif %}
                            <input type="password" name="npass" class="form-control"
                                   placeholder="Enter New Password...">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="CHANGE MY PASSWORD" class="btn btn-success">
                        </div>
                    </div>
                    <input type="hidden" id="realotp">
                </form>
            </div>
            {% if request.session.lang == "EN" %}
            <div class="float-right">
                <p style="color:white">
                    Log In Now
                    <a href="/app/login" class="signuplink">
                        Login
                    </a>
                </p>
            </div>
            {% else %}
            <div class="float-left">
                <p style="color:white">
                    تسجيل الدخول الآن
                    <a href="/app/login" class="signuplink">
                        تسجيل الدخول
                    </a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>


</div>
{% if request.session.lang == "EN" %}
<script>
        function getpass(){
            $("#spin").show();
            let username=$("#un").val();
            $.ajax({
                url:"{% url 'reset_password' %}",
                type:"get",
                data:{username:username},
                success:function(data){
                    $("#spin").hide();
                    if(data.status=="failed"){
                        $("#result").html("<p class='alert alert-danger'>No user registred with this Email</p>");
                    }
                    else if(data.status=="error"){
                        $("#result").html("<p class='alert alert-danger'>Could not send email to "+data.email+" Something went wrong!!!</p>");
                    }
                    else if(data.status=="sent"){
                        $("#result").html("<p class='alert alert-success'>An OTP sent to your registred Email ID: "+data.email+"</p>");
                        $("#continue").hide();
                        $("#afterotp").slideDown(1000);
                        $("#realotp").val(data.rotp)
                    }
                }
            })
        }

        function matchotp(){
            uotp = $("#uotp").val();
            rotp = $("#realotp").val();

            if(uotp==rotp){
                $("#afterotp").hide()
                $("#changepass").fadeIn(1000);
                $("#result").html("<p class='alert alert-success'>Validation Success!!!</p>");
            }else{
                $("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>");
            }
        }

















</script>
{% else %}
<script>
        function getpass(){
            $("#spin").show();
            let username=$("#un").val();
            $.ajax({
                url:"{% url 'reset_password' %}",
                type:"get",
                data:{username:username},
                success:function(data){
                    $("#spin").hide();
                    if(data.status=="failed"){
                        $("#result").html("<p class='alert alert-danger'>لم يتم تسجيل أي مستخدم بهذا البريد الإلكتروني</p>");
                    }
                    else if(data.status=="error"){
                        $("#result").html("<p class='alert alert-danger'>تعذر إرسال بريد إلكتروني إلى "+data.email+" هناك خطأ ما!!!</p>");
                    }
                    else if(data.status=="sent"){
                        $("#result").html("<p class='alert alert-success'>:تم إرسال OTP إلى معرف البريد الإلكتروني المسجل الخاص بك "+data.email+"</p>");
                        $("#continue").hide();
                        $("#afterotp").slideDown(1000);
                        $("#realotp").val(data.rotp)
                    }
                }
            })
        }

        function matchotp(){
            uotp = $("#uotp").val();
            rotp = $("#realotp").val();

            if(uotp==rotp){
                $("#afterotp").hide()
                $("#changepass").fadeIn(1000);
                $("#result").html("<p class='alert alert-success'>!!!نجاح التحقق </p>");
            }else{
                $("#result").html("<p class='alert alert-danger'>OTP غير صحيح</p>");
            }
        }






</script>
{% endif %}


{% if status %}
<script>
        alert("{{status}}");
        window.location="/"

















</script>
{% endif %}


</body>
</html>