{% extends 'base.html'%}

{% block content%}
<style>
    .backwhite
    {
      padding: 9px;
      padding-left: 15px;
      background: #fff !important;
    }


    .note-cov
    {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
    }

    .curve-around input , .curve-around select
    {
        border-radius: 30px;
        height: 45px;
        border: 2px solid #4755AB;
    }


</style>
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4 backwhite">
            <ol class="breadcrumb my-breadcrumb pt-3">
                <li class="breadcrumb-item"><a href="/">
                    {% if request.session.lang == "EN" %}
                    <h6><b><i class="fa fa-home mr-2"></i>Home</b></h6>
                    {% else %}
                    <h6><b><i class="fa fa-home ml-2"></i> الصفحة الرئيسية</b></h6>
                    {% endif %}
                </a></li>
                <li class="breadcrumb-item " aria-current="page">{% if request.session.lang == "EN" %}
                    <h6 class="text-primary"><b>Leave</b></h6>
                    {% else %}
                    غادر
                    {% endif %}
                </li>
                <li class="breadcrumb-item " aria-current="page">
                    {% if request.session.lang == "EN" %}
                    <h6 class="text-primary"><b>Leave Type</b></h6>
                    {% else %}
                    نوع الإجازة
                    {% endif %}
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% if request.session.lang == "EN" %}
                    <h6>Create Leave Type</h6>
                    {% else %}
                    خلق إجازة جديد
                    {% endif %}
                </li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <form action="" method="post">
                {% csrf_token %}

                <div class="row m-0">
                    <div class="col-lg-12 backwhite">
                        <h4 class="ml-2 text-primary pt-4">
                            {% if request.session.lang == "EN" %}
                            <i class="fa fa-list-alt mr-2"></i><b>Create Leave Type</b>
                            {% else %}
                            <i class="fa fa-list-alt ml-2"></i><b>إنشاء نوع الإجازة</b>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-lg-12 p-2 backwhite">
                        <a href="{% url 'LeaveType' %}" class="btn btn-danger btn-style ml-3"
                           style="height: 35px;font-size: 14px;padding-top: 4px;">
                            {% if request.session.lang == "EN" %}
                            Discard
                            {% else %}
                             تجاهل
                            {% endif %}
                        </a>
                        <button type="submit" class="btn btn-sm btn-success btn-style  ml-1 text-white "
                                style="height: 35px;font-size: 14px;padding-top: 4px;">
                            {% if request.session.lang == "EN" %}
                            Save
                            {% else %}
                            حفظ
                            {% endif %}
                        </button>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 backwhite pt-5">
                        <div class="row m-0 d-flex justify-content-center">

                            {% if request.session.lang == "EN" %}
                            <div class="col-lg-10 col-md-12 col-12 bg-primary p-2"
                                 style="border-radius: 7px;"><h3 class="text-white text-center"
                                                                           style="padding-top: 10px;"><b>Kindly fill
                                in the following details</b></h3></div>
                            {% else %}
                            <div class="col-lg-10 col-md-12 col-12 bg-primary p-3"
                                 style="border-radius: 7px;"><h3 class="text-white text-center"><b> يرجى ملء
                                تفاصيل التالية</b></h3></div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 backwhite pt-5">
                        <div class="row m-0 d-flex justify-content-center">

                            <div class="col-lg-5 col-md-12 col-12 text-center bg-light p-3">
                                <img src="/static/assets/icons/active.svg" class="icon"/>
                                {% if request.session.lang == "EN" %}
                                <h5 class="pt-4"><b>Active: </b> &nbsp;<span class="text-primary font-weight-bold"
                                                                             style="font-size: 25px">0</span></h5>
                                {% else %}
                               <h5 class="pt-4 text-center"><b>نشيط </b> &nbsp;<span class="text-primary font-weight-bold"
                                                                             style="font-size: 25px">0</span></h5>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row m-0">
                    <div class="col-lg-12 backwhite ">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-md-10 col-12 p-4 note-cov mt-5 mb-5" style="position:relative;">
                                <div class="col-lg-10 col-12 m-auto curve-around d-flex justify-content-end p-2">

                                </div>
<!--                                <div class="col-lg-10 col-12 m-auto curve-around p-2">-->
<!--                                    {% if request.session.lang == "EN" %}-->
<!--                                    <h6><b>Company</b></h6>-->
<!--                                    {% else %}-->
<!--                                    شركة-->
<!--                                    {% endif %}-->
<!--                                </div>-->
<!--                                <div class="col-lg-10 col-12 m-auto curve-around p-2">-->
<!--                                    <select name="comp" value="{{data.Company}}" class="form-control input-style">-->
<!--                                        {% for d in data %}-->
<!--                                        <option value="{{d.id}}">{{d.Company_Name}}</option>-->
<!--                                        {% endfor %}-->
<!--                                    </select>-->
<!--                                </div>-->

                                <div class="col-lg-10 col-12 m-auto  p-2">
                                    {% if request.session.lang == "EN" %}
                                    <h6><b>Leave Type *English</b></h6>
                                    {% else %}
                                    <h6 class="mr-4 pt-5"><b>نوع الإجازة * (انجليزية)</b></h6>
                                    {% endif %}
                                </div>
                                <div class="col-lg-10 col-12 m-auto curve-around p-2">
                                    <input class="form-control input-style" type="text" placeholder="" name="title">
                                </div>
                                  <div class="col-lg-10 col-12 m-auto  p-2">
                                    {% if request.session.lang == "EN" %}
                                    <h6><b>Leave Type *Arabic</b></h6>
                                    {% else %}
                                     <h6 class="mr-4 "><b>نوع الإجازة * (عربى)</b></h6>
                                    {% endif %}
                                </div>
                                <div class="col-lg-10 col-12 m-auto curve-around p-2">
                                    <input class="form-control input-style" type="text" placeholder="" name="artitle">
                                </div>

                                <div class="col-lg-10 col-12 m-auto  p-2">
                                    {% if request.session.lang == "EN" %}
                                    <h6><b>Limit</b></h6>
                                    {% else %}
                                     <h6 class="mr-4 "><b>حد</b></h6>
                                    {% endif %}
                                </div>
                                <div class="col-lg-10 col-12 m-auto curve-around p-2">
                                    <input name="limit" class="form-control input-style" type="number" placeholder="">
                                </div>
                                <div class="col-lg-10 col-12 m-auto  p-2">
                                    <div class="row m-0">
                                        <div class="col">
                                            {% if request.session.lang == "EN" %}
                                            <h6><b>Allow to Override Limit</b></h6>
                                            {% else %}
                                            <h6 class="mr-4 "><b>السماح لتجاوز الحد</b></h6>
                                            {% endif %}
                                        </div>

                                        <div class="col">
                                            <input type="checkbox" style="zoom: 1.7;" class="leavecheck"
                                                   name="override">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-10 col-12 m-auto text-right  p-2">
                                    <button type="submit"
                                            class="btn btn-sm btn-success  btn-style  col-lg-4 ml-1 text-white "
                                            style="height: 40px;font-size: 16px;padding-top: 8px; margin-top: 30px; border-radius: 20px;">
                                        {% if request.session.lang == "EN" %}
                                        <i class="fa fa-paper-plane  mr-3"></i>Save
                                        {% else %}
                                        يحفظ<i class="fa fa-paper-plane  mr-3"></i>
                                        {% endif %}
                                    </button>
                                </div>

                                <i class="fa fa-list-alt fa-3x text-success" aria-hidden="true"
                                   style="position: absolute; top: -17px;left:-12px;"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <!--OLD CODE-->

<!--                <div class="card card_border py-2 mb-4">-->
<!--                    <div class="cards__heading">-->
<!--                        <div class="row">-->
<!--                            <h3 class="ml-2"><span>-->
<!--                            {% if request.session.lang == "EN" %}-->
<!--                                 Create Leave Type-->
<!--                                   {% else %}-->
<!--                                   إنشاء نوع الإجازة-->
<!--                                   {% endif %}-->
<!--                        </span></h3>-->
<!--                        </div>-->
<!--                        <div class="row mt-3">-->
<!--                            <div class="col-3">-->
<!--                                <a href="{% url 'LeaveType' %}"-->
<!--                                   class="btn btn-lg btn-outline-primary btn-style border-btn">-->
<!--                                    {% if request.session.lang == "EN" %}-->
<!--                                    Cancel-->
<!--                                    {% else %}-->
<!--                                    إلغاء-->
<!--                                    {% endif %}-->
<!--                                </a>-->
<!--                                <button type="submit" class="btn btn-primary btn-style ">-->
<!--                                    {% if request.session.lang == "EN" %}-->
<!--                                    Save-->
<!--                                    {% else %}-->
<!--                                    حفظ-->
<!--                                    {% endif %}-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div class="col-9">-->
<!--                                <div style="float: right;">-->
<!--                                    <span>1/1</span>-->
<!--                                    <a class="btn" style="border: 1px solid lightgray;" href="/">❮ </a>-->
<!--                                    <a class="btn" style="border: 1px solid lightgray;" href="/"> ❯</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->

<!--                        <div class="container-fluid">-->
<!--                            <div class="row">-->
<!--                                <div class="col-12">-->
<!--                                    <div class="col-2 border" style="float:right">-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-3">-->
<!--                                                <img src="/static/assets/icons/active.svg" class="icon"/>-->
<!--                                            </div>-->
<!--                                            <div class="col-9">-->
<!--                                                <span>0</span><br>-->
<!--                                                <span>-->
<!--                                      {% if request.session.lang == "EN" %}-->
<!--                                     Active-->
<!--                                   {% else %}-->
<!--                                   نشيط-->
<!--                                   {% endif %}-->
<!--                                                </span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row mt-2">-->
<!--                                <div class="col-12">-->

<!--                                    <div class="row">-->
<!--                                        <div class="col-12">-->
<!--                                            <h4>-->
<!--                                                {% if request.session.lang == "EN" %}-->
<!--                                                Description-->
<!--                                                {% else %}-->
<!--                                                الوصف-->
<!--                                                {% endif %}-->
<!--                                            </h4>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="row mt-3 mb-3">-->
<!--                                        <div class="col-2">-->
<!--                                            <h6>-->
<!--                                                {% if request.session.lang == "EN" %}-->
<!--                                                Company-->
<!--                                                {% else %}-->
<!--                                                شركة-->
<!--                                                {% endif %}-->
<!--                                            </h6>-->
<!--                                        </div>-->
<!--                                        <div class="col-8" style="border-left: 1px solid gray;">-->

<!--                                            <select name="comp" value="{{data.Company}}"-->
<!--                                                    class="form-control input-style">-->
<!--                                                {% for d in data %}-->
<!--                                                <option value="{{d.id}}">{{d.Company_Name}}</option>-->
<!--                                                {% endfor %}-->
<!--                                            </select>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-2">-->
<!--                                            <h6>-->
<!--                                                {% if request.session.lang == "EN" %}-->
<!--                                                Leave Type-->
<!--                                                {% else %}-->
<!--                                                نوع الإجازة-->
<!--                                                {% endif %}-->
<!--                                            </h6>-->
<!--                                        </div>-->
<!--                                        <div class="col-8" style="border-left: 1px solid gray;">-->
<!--                                            <input class="form-control input-style" type="text" placeholder=""-->
<!--                                                   name="title">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;                                    <div class="row mt-3">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        <div class="col-4">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                            <h6>Apply Double Validation</h6>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        <div class="col-8" style="border-left: 1px solid gray;">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                            <input type="checkbox" style="float:left;">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                    <div class="row mt-3">-->
<!--                                        <div class="col-2">-->
<!--                                            <h6>-->
<!--                                                {% if request.session.lang == "EN" %}-->
<!--                                                Allow to Override Limit-->
<!--                                                {% else %}-->
<!--                                                السماح لتجاوز الحد-->
<!--                                                {% endif %}-->
<!--                                            </h6>-->
<!--                                        </div>-->
<!--                                        <div class="col-8" style="border-left: 1px solid gray;">-->
<!--                                            <input type="checkbox" style="float:left;" name="override">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="row mt-3">-->
<!--                                        <div class="col-2">-->
<!--                                            <h6>-->
<!--                                                {% if request.session.lang == "EN" %}-->
<!--                                                Limit-->
<!--                                                {% else %}-->
<!--                                                حد-->
<!--                                                {% endif %}-->
<!--                                            </h6>-->
<!--                                        </div>-->
<!--                                        <div class="col-8" style="border-left: 1px solid gray;">-->
<!--                                            <input name="limit" class="form-control input-style" type="number"-->
<!--                                                   placeholder="">-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->

<!--                                &lt;!&ndash;                                <div class="col-6">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="row">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="col-12">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <h4>Timesheet</h4>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="row">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="col-4">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <h6> Generate Timesheet</h6>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="col-8" style="border-left: 1px solid gray;">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <input type="checkbox" style="float:left;">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                            <div class="row mt-5">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                <div class="col-6">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="row">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="col-12">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <h4>Options</h4>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="row">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="col-4">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <h6> Meeting type</h6>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="col-8" style="border-left: 1px solid gray;">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <select id="meetingtype" class="form-control input-style">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <option selected> Meeting Type</option>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <option></option>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <option></option>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <option></option>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            </select>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="row  mt-3">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="col-4">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <h6> Color in Report</h6>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="col-8" style="border-left: 1px solid gray;">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <select id="colorinreport" class="form-control input-style">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <option selected> Red</option>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <option>Green</option>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <option></option>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <option></option>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            </select>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                <div class="col-6">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
            </form>
        </section>
    </div>
</div>
<!-- //forms  -->


<!-- //content -->


{% endblock%}