{% extends 'base.html'%}

{% block content%}
<style>
    .backwhite
    {
      padding: 9px;
      padding-left: 15px;
      background: #fff !important;
    }

</style>

<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4 backwhite">
            <ol class="breadcrumb my-breadcrumb pt-3">
                <li class="breadcrumb-item"><a href="/">
                    {% if request.session.lang == "EN" %}
                    <h6><b><i class="fa fa-home mr-2"></i>Home</b></h6>
                    {% else %}
                    <h6><b><i class="fa fa-home ml-2"></i> الصفحة الرئيسية</b></h6>
                    {% endif %}
                </a></li>
                <li class="breadcrumb-item"><a href="/">
                    {% if request.session.lang == "EN" %}
                    <h6><b>Leave</b></h6>
                    {% else %}
                    يترك
                    {% endif %}
                </a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% if request.session.lang == "EN" %}
                    Leave types
                    {% else %}
                    أنواع الإجازات
                    {% endif %}
                </li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">

            <div class="row m-0">
                <div class="col-lg-12 backwhite">
                    <h4 class="ml-2 text-primary pt-4">
                        {% if request.session.lang == "EN" %}
                        <i class="fa fa-list-alt mr-2"></i><b>Leave Types</b>
                        {% else %}
                         <i class="fa fa-list-alt ml-2"></i><b>أنواع الإجازات</b>
                        {% endif %}
                    </h4>
                </div>
                <div class="col-lg-12 p-2 backwhite">
                    <a href="/app/dashboard" class="btn btn-danger btn-style ml-3"
                       style="height: 35px;font-size: 14px;padding-top: 4px;">
                        {% if request.session.lang == "EN" %}
                        Discard
                        {% else %}
                        تجاهل
                        {% endif %}
                    </a>
                    <a href="{% url 'CreateLeaveType' %}" class="btn btn-success btn-style ml-3"
                       style="height: 35px;font-size: 14px;padding-top: 4px;">
                        {% if request.session.lang == "EN" %}
                        Create
                        {% else %}
                        خلق
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-lg-12 backwhite">
                    <form action="#" method="post">
                        <div class="table-responsive pt-5">
                            <table class="table table-hover table-bordered">
                                <thead class="thead-dark text-center">
                                <tr>
<!--                                    <th scope="col">#</th>-->
                                    <th scope="col">
                                        {% if request.session.lang == "EN" %}
                                        Leave types
                                        {% else %}
                                        أنواع الإجازات
                                        {% endif %}
                                    </th>
                                    <th scope="col">
                                        {% if request.session.lang == "EN" %}
                                        Allow to Override Limit
                                        {% else %}
                                        السماح لتجاوز الحد
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="text-center font-weight-bold">
                                {% for d in data %}
                                <tr>
<!--                                    <th scope="row">1</th>-->
                                    <td>
                                         {% if request.session.lang == "EN" %}
                                        {{d.Title}}
                                        {% else %}
                                        {{d.ArTitle}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if d.Override == True %}
                                        {% if request.session.lang == "EN" %}
                                        <i class="fa fa-check-circle text-success mr-4 fa-2x"></i>
                                        {% else %}
                                        <i class="fa  fa-check-circle text-success ml-4 fa-2x"></i>
                                        {% endif %}
                                        {% else %}
                                        {% if request.session.lang == "EN" %}
                                        <i class="fa fa-times-circle text-danger mr-4 fa-2x"></i>
                                        {% else %}
                                        <i class="fa  fa-times-circle text-danger ml-4 fa-2x"></i>
                                        {% endif %}
                                        {% endif %}

                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>

            <!--OLD CODE-->
<!--            <div class="card card_border py-2 mb-4">-->
<!--                <div class="cards__heading" style="jpadding: 15px;">-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <h3><span>-->
<!--                                 {% if request.session.lang == "EN" %}-->
<!--                                        Leave types-->
<!--                                         {% else %}-->
<!--                                          أنواع الإجازات-->
<!--                                         {% endif %}-->
<!--                            </span></h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row mt-3">-->
<!--                        <div class="col-3">-->
<!--                            <a href="{% url 'CreateLeaveType' %}"-->
<!--                               class="btn btn-lg btn-outline-primary btn-style border-btn">-->
<!--                                {% if request.session.lang == "EN" %}-->
<!--                                Create-->
<!--                                {% else %}-->
<!--                                خلق-->
<!--                                {% endif %}-->
<!--                            </a>-->
<!--                            <button type="submit" class="btn btn-primary btn-style ">-->
<!--                                {% if request.session.lang == "EN" %}-->
<!--                                Import-->
<!--                                {% else %}-->
<!--                                استيراد-->
<!--                                {% endif %}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="col-9">-->
<!--                            <div style="float: right;">-->
<!--                                <span>1-4/4</span>-->
<!--                                <a class="btn" style="border: 1px solid lightgray;" href="/">❮ </a>-->
<!--                                <a class="btn" style="border: 1px solid lightgray;" href="/"> ❯</a>-->
<!--                                <a class="btn" style="border: 1px solid lightgray;" href="/"> list </a>-->
<!--                                <a class="btn" style="border: 1px solid lightgray;" href="/"> grid</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card-body" style="padding:0px;">-->
<!--                    <form action="#" method="post">-->
<!--                        <div class="container-fluid">-->
<!--                            <table class="table table-striped">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th style="border-left: 1px solid gray;"><input type="checkbox"></th>-->
<!--                                    <th style="border-left: 1px solid gray;">-->
<!--                                        {% if request.session.lang == "EN" %}-->
<!--                                        Leave types-->
<!--                                        {% else %}-->
<!--                                        أنواع الإجازات-->
<!--                                        {% endif %}-->
<!--                                    </th>-->
<!--                                    <th style="border-left: 1px solid gray;">-->
<!--                                        {% if request.session.lang == "EN" %}-->
<!--                                        Allow to Override Limit-->
<!--                                        {% else %}-->
<!--                                        السماح لتجاوز الحد-->
<!--                                        {% endif %}-->
<!--                                    </th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                {% for d in data %}-->
<!--                                <tr>-->
<!--                                    <td><input type="checkbox"></td>-->
<!--                                    <td>{{d.Title}}</td>-->
<!--                                    <td><input type="checkbox" value="{{d.id}}">{{d.Override}}</td>-->
<!--                                </tr>-->
<!--                                {% endfor %}-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->


        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
{% endblock%}