{% extends 'base.html'%}
{% block content%}
<style>
    .backwhite
    {
      padding: 9px;
      padding-left: 15px;
      background: #fff !important;
    }

</style>
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4 backwhite">
            <ol class="breadcrumb my-breadcrumb pt-3">
                <li class="breadcrumb-item"><a href="/">
                    {% if request.session.lang == "EN" %}
                    <h6><b><i class="fa fa-home mr-2"></i>Home</b></h6>
                    {% else %}
                    <h6><b><i class="fa fa-home ml-2"></i> الصفحة الرئيسية</b></h6>
                    {% endif %}
                </a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% if request.session.lang == "EN" %}
                    Companies
                    {% else %}
                    شركات
                    {% endif %}
                </li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <div class="row m-0">
                <div class="col-lg-12 backwhite">
                    <h4 class="ml-2 text-primary pt-5">
                        {% if request.session.lang == "EN" %}
                        <i class="fa fa-building   mr-3"></i><b>Companies</b>
                        {% else %}
                        <i class="fa fa-building   ml-3"></i><b>شركات</b>
                        {% endif %}
                    </h4>
                </div>
                <div class="col-lg-12 p-2 backwhite">
                    <a href="/app/dashboard" class="btn btn-danger btn-style ml-3"
                       style="height: 35px;font-size: 14px;padding-top: 4px;">
                        {% if request.session.lang == "EN" %}
                        Cancel
                        {% else %}
                        تجاهل
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 backwhite pt-5">
                    <div class="row m-0 d-flex justify-content-center">

                        {% if request.session.lang == "EN" %}
                        <div class="col-lg-10 col-md-12 col-12 bg-primary p-2"
                             style="border-radius: 0 20px 0 20px;"><h3 class="text-white text-center pt-2"><b>Kindly
                            follow the following details</b></h3></div>
                        {% else %}
                        <div class="col-lg-10 col-md-12 col-12 bg-primary p-3"
                             style="border-radius: 0 20px 0 20px;"><h3 class="text-white text-center"><b>يرجى اتباع
                            التفاصيل التالية</b></h3></div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 backwhite pt-5">
                    <div class="table-responsive p-4" style="height: 400px; overflow: scroll;">
                        <table class="table table-hover table-bordered">
                            <thead class="text-center thead-dark">

                            <tr>
                                <!--                                    <th><input style="margin-left: 5px;" type="checkbox"></th>-->
                                <th >
                                    {% if request.session.lang == "EN" %}
                                    Company Name
                                    {% else %}
                                    اسم الشركة
                                    {% endif %}
                                </th>
                                <th>
                                    {% if request.session.lang == "EN" %}
                                    Partner
                                    {% else %}
                                    شريك
                                    {% endif %}
                                </th>
                                <th>
                                    {% if request.session.lang == "EN" %}
                                    Edit
                                    {% else %}
                                    تعديل
                                    {% endif %}
                                </th>
                                <th>
                                    {% if request.session.lang == "EN" %}
                                    Delete
                                    {% else %}
                                    حذف
                                    {% endif %}
                                </th>
                            </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">
                            {% for d in data %}
                            <tr>
                                <!--<th style="padding: 17px;"><input type="checkbox"></th>-->
                                <td style="padding: 23px;">{{d.Company_Name}}</td>
                                <td style="padding: 23px;">{{d.Partner}}</td>
                                <td><a href="{% url 'Editcompany' d.id %}"><i
                                        style="color: #4755AB;font-size: 25px;padding: 11px;"
                                        class="fa fa-pencil-square-o text-success"
                                        aria-hidden="true"></i></a></td>
                                <td>
                                    <form action="{% url 'delcompany' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit"
                                                style="color: #4755AB;font-size: 25px;padding: 3px;margin-left: 8px; border:none;background:none;"
                                                value="{{d.id}}" name="id"><i class="fa fa-trash-o text-danger"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--OLD CODE START-->
<!--            <div class="card card_border py-2 mb-4">-->
<!--                <div class="cards__heading">-->
<!--                    <div class="row">-->
<!--                        <div class="col-9">-->
<!--                            <h3><span>-->
<!--                                {% if request.session.lang == "EN" %}-->

<!--                                          {% else %}-->

<!--                                          {% endif %}-->
<!--                            </span></h3>-->
<!--                        </div>-->
<!--                        <div class="col-3">-->
<!--                            &lt;!&ndash;                            <button type="submit" class="btn btn-primary btn-style ">Import</button>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            <a href="{% url 'CreateCompany' %}"&ndash;&gt;-->
<!--                            &lt;!&ndash;                               class="btn btn-lg btn-outline-primary btn-style border-btn"&ndash;&gt;-->
<!--                            &lt;!&ndash;                               style="margin-left: 175px;">Create</a>&ndash;&gt;-->


<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="col-9"></div>-->
<!--                    &lt;!&ndash;                    <div class="col-3">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <ul class="pagination">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li class="page-item"><a class="page-link" href="#">1</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li class="page-item"><a class="page-link" href="#">2</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li class="page-item"><a class="page-link" href="#">3</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li class="page-item"><a class="page-link" href="#">Next</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                </div>-->
<!--                <div class="card-body">-->

<!--                    <div class="container-fluid">-->
<!--                        <table class="table table-striped">-->
<!--                            <thead>-->

<!--                            <tr class="text-primary">-->
<!--                                &lt;!&ndash;                                    <th><input style="margin-left: 5px;" type="checkbox"></th>&ndash;&gt;-->
<!--                                <th>-->
<!--                                    {% if request.session.lang == "EN" %}-->
<!--                                    Company Name-->
<!--                                    {% else %}-->
<!--                                    اسم الشركة-->
<!--                                    {% endif %}-->
<!--                                </th>-->
<!--                                <th>-->
<!--                                    {% if request.session.lang == "EN" %}-->
<!--                                    Partner-->
<!--                                    {% else %}-->
<!--                                    شريك-->
<!--                                    {% endif %}-->
<!--                                </th>-->
<!--                                <th>-->
<!--                                    {% if request.session.lang == "EN" %}-->
<!--                                    Edit-->
<!--                                    {% else %}-->
<!--                                    تعديل-->
<!--                                    {% endif %}-->
<!--                                </th>-->
<!--                                <th>-->
<!--                                    {% if request.session.lang == "EN" %}-->
<!--                                    Delete-->
<!--                                    {% else %}-->
<!--                                    حذف-->
<!--                                    {% endif %}-->
<!--                                </th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            {% for d in data %}-->
<!--                            <tr>-->
<!--                                &lt;!&ndash;<th style="padding: 17px;"><input type="checkbox"></th>&ndash;&gt;-->
<!--                                <td style="padding: 23px;">{{d.Company_Name}}</td>-->
<!--                                <td style="padding: 23px;">{{d.Partner}}</td>-->
<!--                                <td><a href="{% url 'Editcompany' d.id %}"><i-->
<!--                                        style="color: #4755AB;font-size: 25px;padding: 11px;"-->
<!--                                        class="fa fa-pencil-square-o"-->
<!--                                        aria-hidden="true"></i></a></td>-->
<!--                                <td>-->
<!--                                    <form action="{% url 'delcompany' %}" method="post">-->
<!--                                        {% csrf_token %}-->
<!--                                        <button type="submit"-->
<!--                                                style="color: #4755AB;font-size: 25px;padding: 3px;margin-left: 8px; border:none;"-->
<!--                                                value="{{d.id}}" name="id"><i class="fa fa-trash-o"></i>-->
<!--                                        </button>-->
<!--                                    </form>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            {% endfor %}-->

<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->


        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
{% endblock%}