{% extends 'base.html'%}

{% block content%}


<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Buildings</li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card card_border py-2 mb-4">
                    <div class="cards__heading">
                        <div class="row">
                            <div class="col-9">
                                <h3><span>Buildings</span></h3>
                            </div>
                            <div class="col-3 ">
                                <a href="/Setting/buildings"><button type="submit" class="btn btn-sm btn-outline-primary btn-style border-btn">Save
                                </button></a>
                               <a href="/Setting/buildings"> <button type="button" class="btn btn-primary btn-style ">Discard</button> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid border bg-white mt-2px ">
                        <div class="row mt-3">
                            <div class="col-6">
                                <div class="row mt-3">
                                    <div class="col-2">
                                        <span>Code </span>
                                    </div>
                                    <div class="col-4" style="border-left: 1px solid lightgray;">
                                        <input type="number" name="code" class="form-control " value="{{data.code}}"
                                               placeholder=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mt-3">
                                    <div class="col-2">
                                        <span>Name </span>
                                    </div>
                                    <div class="col-4" style="border-left: 1px solid lightgray;">
                                        <input type="text" name="name" class="form-control " value="{{data.buildingName}}"
                                             placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 mb-4">
                            <div class="col-6">
                                <div class="row mt-3">
                                    <div class="col-2">
                                        <span>Address </span>
                                    </div>
                                    <div class="col-4" style="border-left: 1px solid lightgray;">
                                        <input type="text" name="address" class="form-control " value="{{data.Address}}"
                                               />
                                    </div>

                                </div>
                            </div>
                            <div class="col-6">

                        </div>
                    </div>
                </div>
                </div>
            </form>
        </section>
    </div>
</div>


{% endblock%}