<!--{% extends 'base2.html' %}-->
<!--{% block content %}-->

<!--  &lt;!&ndash; ======= Hero Section ======= &ndash;&gt;-->
<!--  <section id="hero" class="d-flex align-items-center">-->

<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">-->
<!--          <div>-->
<!--            <h1>  قريب</h1>-->
<!--            <h2> قريب هو نظام قائم على السحابة البشرية لإدارة موارد رأس المال البشري. يغطي النظام جميع احتياجات إدارة الموارد البشرية بدءًا من الموظفين والخدمات الذاتية وكشوف الرواتب والتقارير والحضور والتقييمات والتوظيفات والإجازات ونهاية الخدمات والبصمات والشركات المتعددة</h2>-->
<!--            <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> تطبيقات جوجل</a>-->
<!--            <a href="#" class="download-btn"><i class="bx bxl-apple"></i> متجر التطبيقات</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">-->
<!--          <img src="/static/assets/img/hero-img1.png" class="img-fluid" alt="">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </section>&lt;!&ndash; End Hero &ndash;&gt;-->

<!--  <main id="main">-->

<!--    &lt;!&ndash; ======= App Features Section ======= &ndash;&gt;-->
<!--    <section id="features" class="features">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--          <h2>المميزات</h2>-->
<!--          <p>نحن نقدم مجموعة واسعة من الميزات القابلة للاستخدام والمرنة</p>-->
<!--        </div>-->

<!--        <div class="row no-gutters">-->
<!--          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">-->
<!--            <div class="content d-flex flex-column justify-content-center">-->
<!--              <div class="row">-->
<!--                <div class="col-md-6 icon-box" data-aos="fade-up">-->
<!--                  <i class="bx bx-receipt"></i>-->
<!--                  <h4>تجنيد</h4>-->
<!--                  <p>نظام فعال لتتبع المتقدمين وبرنامج توظيف ديناميكي.</p>-->
<!--                </div>-->
<!--                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">-->
<!--                  <i class="bx bx-cube-alt"></i>-->
<!--                  <h4>قاعدة بيانات الموظفين</h4>-->
<!--                  <p>قاعدة بيانات مركزية لإدارة كل شيء في متناول يدك.</p>-->
<!--                </div>-->
<!--                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">-->
<!--                  <i class="bx bx-images"></i>-->
<!--                  <h4>الموارد البشرية والإدارة</h4>-->
<!--                  <p>اقضِ وقتًا في تحقيق أهدافك ، وليس في الإدارة الروتينية.</p>-->
<!--                </div>-->
<!--                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">-->
<!--                  <i class="bx bx-shield"></i>-->
<!--                  <h4>كشف رواتب</h4>-->
<!--                  <p>معالجة كشوف المرتبات بدون ألم</p>-->
<!--                </div>-->
<!--                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">-->
<!--                  <i class="bx bx-atom"></i>-->
<!--                  <h4>توصيه</h4>-->
<!--                  <p>استراتيجيات تقييم شفافة مع زيادة مشاركة الموظفين.</p>-->
<!--                </div>-->
<!--                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">-->
<!--                  <i class="bx bx-id-card"></i>-->
<!--                  <h4>الحضور والإجازات</h4>-->
<!--                  <p> نظام بسيط لإدارة الحضور.</p>-->
<!--                </div>-->
<!--                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">-->
<!--                  <i class="bx bx-id-card"></i>-->
<!--                  <h4>تقارير الموارد البشرية</h4>-->
<!--                  <p>التقارير التي يمكن أن تساعدك على البقاء في القمة</p>-->
<!--                </div>-->
<!--                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">-->
<!--                  <i class="bx bx-id-card"></i>-->
<!--                  <h4>لمزيد من الميزات</h4>-->
<!--                  <p>سجل الدوام ، تحويل الفرع ، مساهمة التأمينات الاجتماعية ، إلخ</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">-->
<!--            <img src="/static/assets/img/features.svg" class="img-fluid" alt="">-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End App Features Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Details Section ======= &ndash;&gt;-->
<!--    <section id="details" class="details">-->
<!--      <div class="container">-->

<!--        <div class="row content">-->
<!--          <div class="col-md-4" data-aos="fade-right">-->
<!--            <img src="/static/assets/img/details-1.png" class="img-fluid" alt="">-->
<!--          </div>-->
<!--          <div class="col-md-8 pt-4" data-aos="fade-up">-->
<!--            <h3>ببساطة تجربة أفضل للموارد البشرية</h3>-->
<!--            <p>-->
<!--              نحن مصممون على إعادة ابتكار الطريقة التي يُنظر بها إلى الموارد البشرية في الشركات في جميع أنحاء الشرق الأوسط. حان الوقت للتركيز على ما يدفع المنظمة حقًا إلى الأمام - موظفوها!-->
<!--            </p>-->
<!--&lt;!&ndash;            <ul>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="icofont-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="icofont-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.</li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--            <p>-->
<!--              لا يتعلق قسم الموارد البشرية بإدارة الموظفين ، بل يتعلق بإشراك فريقك وتزويدهم بالأدوات المناسبة لتفعيل إمكاناتهم الكاملة - وهذا ما قريب هو كل شي-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row content">-->
<!--          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">-->
<!--            <img src="/static/assets/img/details-2.png" class="img-fluid" alt="">-->
<!--          </div>-->
<!--          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">-->
<!--            <h3>حان الوقت أخيرًا لتوديع الورق وجداول البيانات.</h3>-->
<!--&lt;!&ndash;            <p class="font-italic">&ndash;&gt;-->
<!--&lt;!&ndash;              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore&ndash;&gt;-->
<!--&lt;!&ndash;              magna aliqua.&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--            <p>-->
<!--&lt;!&ndash;              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate&ndash;&gt;-->
<!--&lt;!&ndash;              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in&ndash;&gt;-->
<!--&lt;!&ndash;              culpa qui officia deserunt mollit anim id est laborum&ndash;&gt;-->
<!--            </p>-->
<!--&lt;!&ndash;            <p>&ndash;&gt;-->
<!--&lt;!&ndash;              Inventore id enim dolor dicta qui et magni molestiae. Mollitia optio officia illum ut cupiditate eos autem. Soluta dolorum repellendus repellat amet autem rerum illum in. Quibusdam occaecati est nisi esse. Saepe aut dignissimos distinctio id enim.&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->


<!--      </div>-->
<!--    </section>&lt;!&ndash; End Details Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Gallery Section ======= &ndash;&gt;-->
<!--&lt;!&ndash;    <section id="gallery" class="gallery">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="container">&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="section-title">&ndash;&gt;-->
<!--&lt;!&ndash;          <h2>Gallery</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="owl-carousel gallery-carousel" data-aos="fade-up">&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-1.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-1.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-2.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-2.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-3.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-3.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-4.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-4.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-5.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-5.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-6.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-6.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-7.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-7.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-8.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-8.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-9.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-9.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-10.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-10.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-11.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-11.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="/static/assets/img/gallery/gallery-12.png" class="venobox" data-gall="gallery-carousel"><img src="/static/assets/img/gallery/gallery-12.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </section>&ndash;&gt;-->
<!--      &lt;!&ndash; End Gallery Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Testimonials Section ======= &ndash;&gt;-->
<!--&lt;!&ndash;    <section id="testimonials" class="testimonials section-bg">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="container">&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="section-title">&ndash;&gt;-->
<!--&lt;!&ndash;          <h2>الشهادات - التوصيات</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="owl-carousel testimonials-carousel" data-aos="fade-up">&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="testimonial-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="testimonial-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              <h3>Saul Goodman</h3>&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Ceo &amp; Founder</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-left quote-icon-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-right quote-icon-right"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="testimonial-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="testimonial-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="/static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              <h3>Sara Wilsson</h3>&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Designer</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-left quote-icon-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-right quote-icon-right"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="testimonial-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="testimonial-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              <h3>Jena Karlis</h3>&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Store Owner</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-left quote-icon-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-right quote-icon-right"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="testimonial-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="testimonial-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              <h3>Matt Brandon</h3>&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Freelancer</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-left quote-icon-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-right quote-icon-right"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="testimonial-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="testimonial-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="/static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              <h3>John Larson</h3>&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Entrepreneur</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-left quote-icon-left"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bxs-quote-alt-right quote-icon-right"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </section>&lt;!&ndash; End Testimonials Section &ndash;&gt;&ndash;&gt;-->

<!--    &lt;!&ndash; ======= Pricing Section ======= &ndash;&gt;-->
<!--    <section id="pricing" class="pricing">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--          <h2>التسعير</h2>-->
<!--          <p>سواء كنت جزءا من شركة مبتدئة او مؤسسة كبيرة يساعد قريب في إدارة و إشراك فريقك. نقدم مجموعة كاملة من الميزات والأدوات لمساعدتك في كل مرحلة من مراحل رحلتك.</p>-->
<!--        </div>-->

<!--        <div class="row no-gutters">-->
<!--{% for d in data %}-->
<!--          <div class="col-lg-4 box" data-aos="fade-right">-->
<!--            <h3>{{d.artitle}}</h3>-->
<!--            <h4> ريال {{d.price}} <span>كل شهر</span></h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>-->
<!--              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>-->
<!--              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>-->
<!--              <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>-->
<!--              <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>-->
<!--            </ul>-->
<!--            <a href="{% url 'signup' %}" class="get-started-btn">البدء</a>-->
<!--          </div>-->
<!--{% endfor %}-->
<!--&lt;!&ndash;          <div class="col-lg-4 box featured" data-aos="fade-up">&ndash;&gt;-->
<!--&lt;!&ndash;            <h3>اعمال</h3>&ndash;&gt;-->
<!--&lt;!&ndash;            <h4>ريال 29<span>كل شهر</span></h4>&ndash;&gt;-->
<!--&lt;!&ndash;            <ul>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="{% url 'signup' %}" class="get-started-btn">البدء</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="col-lg-4 box" data-aos="fade-left">&ndash;&gt;-->
<!--&lt;!&ndash;            <h3>مطور</h3>&ndash;&gt;-->
<!--&lt;!&ndash;            <h4>49 ريال<span>كل شهر</span></h4>&ndash;&gt;-->
<!--&lt;!&ndash;            <ul>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="{% url 'signup' %}" class="get-started-btn">البدء</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Pricing Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Frequently Asked Questions Section ======= &ndash;&gt;-->
<!--    <section id="faq" class="faq section-bg">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->

<!--          <h2>الأسئلة الشائعة</h2>-->
<!--&lt;!&ndash;          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>&ndash;&gt;-->
<!--        </div>-->

<!--        <div class="accordion-list">-->
<!--          <ul>-->
<!--            <li data-aos="fade-up">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#accordion-list-1">ما هوة نظام إدارة الموارد البشرية (HRMS) ؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">-->
<!--                <p>-->
<!--                  برنامج ادارة الموارد البشرية (HRMS) هو شكل من اشكال برامج الموارد البشرية الذي يجمع بين عدد من الأنظمة لضمان سهولة إدارة الموارد البشرية و العمليات التجارية و البيانات-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li data-aos="fade-up" data-aos-delay="100">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">لماذا احتاج الى برنامج لإدارة الموارد البشرية ؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">-->
<!--                <p>-->
<!--                  تظهر الأبحاث أن الشركات التي لديها أنظمة موارد بشرية مطورة حديثًا تحقق توفير في التكاليف بنسبة 22٪ لكل موظف (Bersin by Deloitte). باستخدام برنامج الموارد البشرية ، يمكنك توفير الوقت والمال ، وإبقاء فريقك على اطلاع والمشاركة ، وتأكد التزامك بقوانين العمل المحلية-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li data-aos="fade-up" data-aos-delay="200">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">ما اللغات المدعومة؟<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">-->
<!--                <p>-->
<!--                  متوفر قريب باللغة العربية و الانجليزية. و ايضا نسعى لنتأكد ان جميع المعلومات الذي تريد ان تدخلها متوفرة باللغتين-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li data-aos="fade-up" data-aos-delay="300">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-4" class="collapsed">كيف يمكنني ان ابدا باسرع وقت؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">-->
<!--                <p>-->
<!--                  إنها مسألة ساعات وليس أيامًا وأسابيع. نحن نؤمن بأن إنشاء تجربة قريب الخاصة بك ينبغي أن تكون ممتعة وسهلة، لاجل تمكينك الى ضم موظفينك الى البرنامج بسهولة. لقد انشأنا رحلة لضم المعلومات الخاصة بشركتك لتنصيب البرنامج بناءا على احتياجاتك. سيستلم فريقك مقطع فيديو توضيحي للتأكد من ضبطهم للحل الجديد بسلاسة. وبالطبع إذا واجهت أي مشاكل ، أو كنت ترغب في أن نقوم بإعداد كل شيء لك ، فنحن هنا وواثقون من تقديم حل مناسب.-->

<!--              </div>-->
<!--            </li>-->

<!--&lt;!&ndash;            <li data-aos="fade-up" data-aos-delay="400">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              <div id="accordion-list-5" class="collapse" data-parent=".accordion-list">&ndash;&gt;-->
<!--&lt;!&ndash;                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.&ndash;&gt;-->
<!--&lt;!&ndash;                </p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->

<!--          </ul>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Frequently Asked Questions Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Contact Section ======= &ndash;&gt;-->
<!--    <section id="contact" class="contact">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--          <h2>اتصل</h2>-->
<!--&lt;!&ndash;          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>&ndash;&gt;-->
<!--        </div>-->

<!--        <div class="row">-->

<!--          <div class="col-lg-6">-->
<!--            <div class="row">-->
<!--              <div class="col-lg-6 info" data-aos="fade-up">-->
<!--                <i class="bx bx-map"></i>-->
<!--                <h4>عنوان</h4>-->
<!--                <p>مخرج 14 الريان الرياض <br>المملكة العربية السعودية</p>-->
<!--              </div>-->
<!--              <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">-->
<!--                <i class="bx bx-phone"></i>-->
<!--                <h4>اتصل بنا</h4>-->
<!--                <p>+966 563333302<br>+966 551439287</p>-->
<!--              </div>-->
<!--              <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">-->
<!--                <i class="bx bx-envelope"></i>-->
<!--                <h4>ارسل لنا عبر البريد الإلكتروني</h4>-->
<!--                <p>aalmutlaq83@yahoo.com<br>info@gareeb.com</p>-->
<!--              </div>-->
<!--              <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="300">-->
<!--                <i class="bx bx-time-five"></i>-->
<!--                <h4>ساعات العمل</h4>-->
<!--                <p>الأحد - الأربعاء: 9 صباحًا حتى 5 مساءً <br> السبت: 9 صباحًا إلى 5 مساءً</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-6">-->
<!--            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">-->
<!--              <div class="form-group">-->
<!--                <input placeholder="اسمك" type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
<!--                <div class="validate"></div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <input placeholder="بريدك الالكتروني" type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--                <div class="validate"></div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <input placeholder="موضوع" type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->
<!--                <div class="validate"></div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <textarea placeholder="رسالة" class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>-->
<!--                <div class="validate"></div>-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <div class="loading">جار التحميل</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">تم ارسال رسالتك. شكرا لك!</div>-->
<!--              </div>-->
<!--              <div class="text-center"><button type="submit">أرسل رسالة</button></div>-->
<!--            </form>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Contact Section &ndash;&gt;-->

<!--  </main>&lt;!&ndash; End #main &ndash;&gt;-->

<!--{% endblock %}-->


