{% extends 'base.html'%}
{% block content%}
<style>
    .backwhite
    {
        padding: 23px;
        background: #fff;
    }
    .note-cov
    {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
    }
    .curve-around input , .curve-around select
    {
        border-radius: 30px;
        height: 45px;
        border: 2px solid #4755AB;
    }

</style>
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4 backwhite">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="/">
                    {% if request.session.lang == "EN" %}
                    <h6><b>Home</b></h6>
                    {% else %}
                    الصفحة الرئيسية
                    {% endif %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% if request.session.lang == "EN" %}
                       Manage Access
                    {% else %}
                     إدارة الوصول
                    {% endif %}
                </li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->

        <section class="forms">

              <form method="post" action="">
                        {% csrf_token %}
                <div class="row m-0">
                    <div class="col-lg-12 backwhite">
                        <h4 class="ml-2 text-primary">
                            {% if request.session.lang == "EN" %}
                              Manage Access
                            {% else %}
                         إدارة الوصول
                            {% endif %}
                        </h4>
                    </div>

                </div>

                <div class="row m-0">
                    <div class="col-lg-12 backwhite ">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-md-10 col-12 p-4 note-cov mt-5 mb-5 " style="position:relative">
                                <div class="col-lg-10 col-12 m-auto curve-around p-2">
                                     {% if request.session.lang == "EN" %}
                                    <h6 class="text-center"><b>Employee</b></h6>
                                       {% else %}
                                      <h6 class="text-center"><b>الموظف</b></h6>
                                    {% endif %}
                                </div>
                                 <div class="col-lg-10 col-12 m-auto curve-around p-2">
                                     <h3 class="text-center">{{data.user.first_name}} {{data.user.last_name}}</h3>
                                 </div>
                                <div class="row">
                                     <div class="col-lg-6 col-12 m-auto curve-around p-2">
                                    {% if request.session.lang == "EN" %}
                                    <h6 class="text-center"><b>HR Access</b></h6>
                                    {% else %}
                                 الوصول إلى الموارد البشرية
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-12 m-auto curve-around p-2">
                                       <input type="checkbox" class="form-control" name="ishr">
                                </div>



                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12 m-auto  p-2">
                                    {% if request.session.lang == "EN" %}
                                    <h6 class="text-center"><b>Manager Access</b></h6>
                                    {% else %}
                                وصول المدير
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-12 m-auto curve-around p-2">
                                       <input type="checkbox" class="form-control" name="ismanager">
                                </div>
                                </div>


                                <div class="col-lg-10 col-12 m-auto text-right  p-2">
                                    <button type="submit"
                                            class="btn btn-sm btn-success btn-style  col-lg-4 ml-1 text-white "
                                            style="height: 40px;font-size: 16px;padding-top: 8px; margin-top: 30px; border-radius: 20px;">
                                        {% if request.session.lang == "EN" %}
                                        Access
                                        {% else %}
                                      وصول
                                        {% endif %}
                                    </button>
                                </div>
                                <i class=" fa fa-lock fa-3x text-success" aria-hidden="true" style="position: absolute; top: -17px;left:-12px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
{% endblock %}