{% extends 'base.html'%}

{% block content%}
<div class="main-content" xmlns:display="http://www.w3.org/1999/xhtml" xmlns:flex="http://www.w3.org/1999/xhtml">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Badges</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">

            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <div class="row">
                        <div class="col">
                            <h3>Badges</h3>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col-6">
                            <a href="/" class="btn btn-sm btn-outline-primary btn-style border-btn">Create</a>
                            <button type="submit" class="btn btn-primary btn-style ">Import</button>
                        </div>
                        <div class="col-6">
<!--                            <div style="float: right;">-->
<!--                                <span>1-42/42</span>-->
<!--                                <a class="btn" style="border: 1px solid lightgray;" href="/">❮ </a>-->
<!--                                <a class="btn" style="border: 1px solid lightgray;" href="/"> ❯</a>-->
<!--                                <a class="btn" style="border: 1px solid lightgray;" href="/"> list </a>-->
<!--                                <a class="btn" style="border: 1px solid lightgray;" href="/"> grid</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="card-body border-top">
                        <form action="#" method="post">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3 mt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>
                                                            <img src="/static/assets/images/profileimg.jpg"
                                                                 class="mt-4">
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="mt-2">
                                                          <p>Good Job 0/∞</p>
                                                          <p>0 Grated 0 this month </p>
                                                          <p>You did great at your job</p>
                                                          <button type="submit" class="btn btn-primary btn-style mt-2 ">Grant</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 mt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>
                                                            <img src="/static/assets/images/profileimg.jpg"
                                                                 class="mt-4">
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="mt-2">
                                                          <p>Problem Solver 0/∞</p>
                                                          <p>0 Grated 0 this month </p>
                                                          <p>No One Can Solve Challenges Like You Do</p>
                                                          <button type="submit" class="btn btn-primary btn-style mt-2 ">Grant</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 mt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>
                                                            <img src="/static/assets/images/profileimg.jpg"
                                                                 class="mt-4">
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="mt-2">
                                                          <p>Brilliant 0/∞</p>
                                                          <p>0 Grated 0 this month </p>
                                                          <p>With Your Brilliant Ideas, You Are An Inspiration To Others</p>
                                                          <button type="submit" class="btn btn-primary btn-style mt-2 ">Grant</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>


        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
{% endblock%}