{% extends 'base.html'%}

{% block content%}
<style>
     .backwhite
    {
      padding: 9px;
      padding-left: 15px;
      background: #fff !important;
    }

     .cc-tbl
    {
        padding-top: 24px !important;
        font-weight: bold;
    }





</style>
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4 backwhite">
            <ol class="breadcrumb my-breadcrumb pt-3">
                <li class="breadcrumb-item"><a href="/">
                    {% if request.session.lang == "EN" %}
                    <h6><b><i class="fa fa-home mr-2"></i>Home</b></h6>
                    {% else %}
                    <h6><b><i class="fa fa-home ml-2"></i> الصفحة الرئيسية</b></h6>
                    {% endif %}
                </a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% if request.session.lang == "EN" %}
                    <b>Announcements</b>
                    {% else %}
                   <b>الإعلانات </b>
                    {% endif %}
                </li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">

            <div class="row m-0">
                <div class="col-lg-12 backwhite">
                    <h4 class="ml-2  pt-4 text-primary">
                        {% if request.session.lang == "EN" %}
                        <i class="fa fa-bullhorn mr-3"></i><b>Announcements</b>
                        {% else %}
                        <i class="fa fa-bullhorn ml-3"></i> <b>الإعلانات</b>
                        {% endif %}
                    </h4>
                </div>
                <div class="col-lg-12 p-2 backwhite">
                    <a href="{% url 'createAnnouncements' %}" class="btn btn-primary btn-style ml-3"
                       style="height: 35px;font-size: 14px;padding-top: 4px;">
                        {% if request.session.lang == "EN" %}
                        Create
                        {% else %}
                        خلق
                        {% endif %}
                    </a>
                    <a href="" class="btn btn-success btn-style ml-3"
                       style="height: 35px;font-size: 14px;padding-top: 4px;">
                        {% if request.session.lang == "EN" %}
                        Import
                        {% else %}
                        استيراد
                        {% endif %}
                    </a>
                </div>

                <div class="col-12  backwhite d-none">
                    {% if request.session.lang == "EN" %}
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                    {% else %}
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">السابق </a></li>
                        <li class="page-item"><a class="page-link" href="#">١</a></li>
                        <li class="page-item"><a class="page-link" href="#">٢</a></li>
                        <li class="page-item"><a class="page-link" href="#">٣</a></li>
                        <li class="page-item"><a class="page-link" href="#">التالي</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>

            <div class="row m-0">
                <div class="col-12 backwhite">
                    <div class="table-responsive pt-5">
                        <table class="table table-hover table-bordered">
                            <thead class="text-center thead-dark">
                            <tr>
<!--                                <th></th>-->
                                <th>
                                    {% if request.session.lang == "EN" %}
                                    Code No
                                    {% else %}
                                    رقم الكود
                                    {% endif %} :
                                </th>

                                <th>
                                    {% if request.session.lang == "EN" %}
                                    Title
                                    {% else %}
                                    لقب
                                    {% endif %}
                                </th>
                                <!--                                     <th>-->
                                <!--                                    {% if request.session.lang == "EN" %}-->
                                <!--                                        Status-->
                                <!--                                        {% else %}-->
                                <!--                                        حالة المدير-->
                                <!--                                        {% endif %}-->
                                <!--                                    </th>-->
                                <th>
                                    {% if request.session.lang == "EN" %}
                                    Actions
                                    {% else %}
                                    حالة
                                    {% endif %}
                                </th>

                            </tr>
                            </thead>
                            <tbody class="text-center">
                            {% for d in data %}
                            <tr>
<!--                                <th class="cc-tbl"><input type="checkbox">{{d.is_general_announcements}}</th>-->
                                <td class="cc-tbl">{{d.code_no}}</td>
                                <td class="cc-tbl">{{d.title}}</td>
                                <!--                                    <td class="cc-tbl nin" >no status</td>-->
                                <td class="cc-tbl">
                                    {% if request.session.lang == "EN" %}
                                    <!--                                        <button class="btn btn-success text-white approved-btn" type="button" value="Approved">-->
                                    <!--                                            Approve-->
                                    <!--                                        </button>-->
                                    <!--                                        <button class="btn btn-danger text-white waitingapr-btn" type="button" value="Waiting">-->
                                    <!--                                            <span class="spinner-border spinner-border-sm mr-1" role="status"-->
                                    <!--                                                  aria-hidden="true"></span>-->
                                    <!--                                            Waiting-->
                                    <!--                                        </button>-->

                                    <!--                                        <button class="btn btn-primary text-white done-btn" type="button" value="Done">-->
                                    <!--                                            <i class="fa fa-thumbs-up mr-2" aria-hidden="true"> </i>Done-->
                                    <!--                                        </button>-->
                                    <div class="row m-0 d-flex justify-content-center">

                                        <a href="{% url 'editannouncements' d.id %}" class="mr-2">
                                            <button class="btn btn-primary text-white done-btn" type="button"
                                                    value="Done">
                                                <i class="fa fa-pencil-square ml-2" aria-hidden="true"> </i>  Edit
                                            </button>
                                        </a>


                                            <form action="{% url 'delannouncement' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary text-white done-btn"
                                                        value="{{d.id}}" name="id">
                                                    <i class="fa fa-trash ml-2" aria-hidden="true"> </i>  Delete
                                                </button>
                                            </form>

                                    </div>


                                    {% else %}
                                    <!--                                        <button class="btn btn-success text-white approved-btn" type="button" value="Approved">-->
                                    <!--                                            وافق-->
                                    <!--                                        </button>-->
                                    <!--                                        <button class="btn btn-danger text-white waitingapr-btn" type="button" value="Waiting">-->
                                    <!--                                            <span class="spinner-border spinner-border-sm mr-1" role="status"-->
                                    <!--                                                  aria-hidden="true"></span>-->
                                    <!--                                           انتظار-->
                                    <!--                                        </button>-->

                                    <!--                                        <button class="btn btn-primary text-white done-btn" type="button" value="Done">-->
                                    <!--                                            <i class="fa fa-thumbs-up ml-2" aria-hidden="true"> </i>منجز-->
                                    <!--                                        </button>-->
                                    <div class="row m-0 d-flex justify-content-center">

                                        <a href="{% url 'editannouncements' d.id %}" class="ml-2">
                                            <button class="btn btn-primary text-white done-btn" type="button"
                                                    value="Done">
                                                <i class="fa fa-pencil-square ml-2" aria-hidden="true"> </i>  يحرر
                                            </button>
                                        </a>

                                        <a href="{% url 'delannouncement' %}" class="mr-2">
                                            <form action="{% url 'delannouncement' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary text-white done-btn"
                                                        value="{{d.id}}" name="id">
                                                    <i class="fa fa-trash ml-2" aria-hidden="true"> </i> حذف
                                                </button>
                                            </form>
                                        </a>
                                    </div>

                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!--            <div class="card card_border py-2 mb-4">-->
            <!--                <div class="cards__heading">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-9">-->
            <!--                            <h3><span>-->
            <!--                                {% if request.session.lang == "EN" %}-->
            <!--                                 <i class="fa fa-bullhorn mr-3"></i>Announcements-->
            <!--                                 {% else %}-->
            <!--                                 <i class="fa fa-bullhorn ml-3"></i>الإعلانات-->
            <!--                                 {% endif %}-->
            <!--                            </span></h3>-->
            <!--                        </div>-->
            <!--                        <div class="col-3">-->

            <!--                            <a href="/" class="btn btn-lg btn-outline-primary btn-style border-btn">-->
            <!--                            {% if request.session.lang == "EN" %}-->
            <!--                                 Create-->
            <!--                                 {% else %}-->
            <!--                                 خلق-->
            <!--                                 {% endif %}-->
            <!--                            </a>-->
            <!--                            <button type="submit" class="btn btn-primary btn-style ">-->
            <!--                            {% if request.session.lang == "EN" %}-->
            <!--                                 Import-->
            <!--                                 {% else %}-->
            <!--                                 استيراد-->
            <!--                                 {% endif %}-->
            <!--                            </button>-->


            <!--                        </div>-->

            <!--                    </div>-->

            <!--                    <div class="col-12">-->
            <!--                         <ul class="pagination">-->
            <!--                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
            <!--                                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <!--                                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--                                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--                                <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            <!--                            </ul>-->
            <!--                    </div>-->

            <!--                </div>-->
            <!--                <div class="card-body">-->
            <!--                    <form action="#" method="post">-->

            <!--                        <div class="container-fluid">-->
            <!--                            <table class="table table-striped">-->
            <!--                                <thead>-->
            <!--                                <tr>-->
            <!--                                    <th><input type="checkbox"></th>-->
            <!--                                    <th>-->
            <!--                                       {% if request.session.lang == "EN" %}-->
            <!--                                        Code No-->
            <!--                                        {% else %}-->
            <!--                                        رقم الكود-->
            <!--                                        {% endif %} :</th>-->

            <!--                                    <th>-->
            <!--                                    {% if request.session.lang == "EN" %}-->
            <!--                                        Title-->
            <!--                                        {% else %}-->
            <!--                                        لقب-->
            <!--                                        {% endif %}-->
            <!--                                    </th>-->
            <!--                                    <th>-->
            <!--                                    {% if request.session.lang == "EN" %}-->
            <!--                                        Status-->
            <!--                                        {% else %}-->
            <!--                                        حالة-->
            <!--                                        {% endif %}-->
            <!--                                    </th>-->
            <!--                                </tr>-->
            <!--                                </thead>-->
            <!--                                <tbody>-->
            <!--                                <tr>-->
            <!--                                    <th><input type="checkbox"></th>-->
            <!--                                    <td>GA 001</td>-->
            <!--                                    <td>Onam Celebration</td>-->
            <!--                                    <td><a href="#" class="btn btn-success text-white approved-btn">Approved</a></td>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <th><input type="checkbox"></th>-->
            <!--                                    <td></td>-->
            <!--                                    <td>Harthal</td>-->
            <!--                                    <td>-->
            <!--                                        <button class="btn btn-warning text-white waitingapr-btn" type="button">-->
            <!--                                            <span class="spinner-border spinner-border-sm mr-1" role="status"-->
            <!--                                                  aria-hidden="true"></span>-->
            <!--                                            Waiting-->
            <!--                                        </button>-->
            <!--                                    </td>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <th><input type="checkbox"></th>-->
            <!--                                    <td>GA 002</td>-->
            <!--                                    <td>Seminar</td>-->
            <!--                                    <td>-->
            <!--                                        <a href="#" class="btn btn-primary text-white  done-btn"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Done</a>-->
            <!--                                    </td>-->
            <!--                                </tr>-->
            <!--                                </tbody>-->
            <!--                            </table>-->
            <!--                        </div>-->

            <!--                    </form>-->
            <!--                </div>-->
            <!--            </div>-->


        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>

<!--<script>-->
<!--$(document).ready(function(){-->

<!--$(".approved-btn").on("click",function(){-->
<!--    var fired_button = $(this).val();-->
<!--    $(".nin").html(fired_button)-->
<!--    $(".nin").css("color","#006400")-->
<!--    })-->

<!--$(".waitingapr-btn").on("click",function(){-->
<!--    var fired_button = $(this).val();-->
<!--    $(".nin").html(fired_button);-->

<!--    })-->

<!--$(".done-btn").on("click",function(){-->
<!--    var fired_button = $(this).val();-->
<!--    $(".nin").html(fired_button)-->

<!--    })-->

<!--});-->


<!--</script>-->
{% endblock%}