{% extends 'base.html'%}

{% block content%}
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
<!--        <nav aria-label="breadcrumb" class="mb-4">-->
<!--            <ol class="breadcrumb my-breadcrumb">-->
<!--                <li class="breadcrumb-item"><a href="/">Home</a></li>-->
<!--                <li class="breadcrumb-item active" aria-current="page">Announcements</li>-->
<!--            </ol>-->
<!--        </nav>-->
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">

            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                        <div class="row">
                        <h3 class="ml-2"><span>Contact Tags </span></h3>
                    </div>
                    <div class="row mt-3">
                        <div class="col-9">
                        <a href="/" class="btn btn-sm btn-outline-primary btn-style border-btn ml-1">Create</a>
                        <button type="submit" class="btn btn-primary btn-style ml-1 ">Import</button>
                        </div>
                        <div class="col-3">
                            <div  class="ml-3" style="float: right;">
                                <span>1-17/17</span>
                                <a class="btn" style="border: 1px solid lightgray;" href="/">❮ </a>
                                <a class="btn" style="border: 1px solid lightgray;" href="/"> ❯</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="margin-top: -45px;">
                    <form action="#" method="post">
                        <div class=" mt-1 container-fluid">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 2px;"><input type="checkbox"></th>
                                    <th>Display Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Company Contact</td>
                                </tr>
                                <tr>
                                    <th  style="width: 2px;"><input type="checkbox"></th>
                                    <td>Components Buyer</td>
                                </tr>
                                <tr>
                                    <th  style="width: 2px;"><input type="checkbox"></th>
                                    <td>Consultancy Services</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Distributor</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Employee</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>MAnufacturer</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Office Supplies</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Partner</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Partner/Bronze</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Partner/Gold</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Partner/Silver</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Prospect</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Retailer</td>
                                </tr><tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Services</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Vendor</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Wholesaler</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Tag </td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Tag</td>
                                </tr><tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Tag</td>
                                </tr>
                                <tr>
                                    <th style="width:2px;"><input type="checkbox"></th>
                                    <td>Tag</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>


        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
{% endblock%}