{% extends 'base.html'%}

{% block content%}
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-2">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Contacts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Name</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">

            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <div class="row">

                        <h3 class="ml-2"><span>Contacts </span></h3>
                    </div>
                    <div class="row mt-3">
                        <div class="col-9">
                        <a href="/" class="btn btn-sm btn-outline-primary btn-style border-btn ml-1">Save</a>
                        <button type="submit" class="btn btn-primary btn-style ml-1 ">Discard</button>
                        </div>
                        <div class="col-3">
                            <div style="float: right;">
                                <span>5/42</span>
                                <a class="btn" style="border: 1px solid lightgray;" href="/">❮ </a>
                                <a class="btn" style="border: 1px solid lightgray;" href="/"> ❯</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="/static/assets/images/profileimg.jpg" style="width: 80px; margin-top:36px;"/>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col-6 float-left mt-1">
                                                <input type="radio" id="individual" name="individual"
                                                       value="individual">
                                                <label for="individual">Individual </label>
                                            </div>
                                            <div class="col-6 float-left">
                                                <input type="radio" id="company" name="company" value="company">
                                                <label for="company">Company</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input class="form-control" placeholder="Employee name"/>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col">
                                                <select id="inputcompanyname" class="form-control input-style">
                                                    <option selected>Your Company</option>
                                                    <option>XYZ</option>
                                                    <option>ABC</option>
                                                    <option>MNO</option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <div class="row mr-2 bor">
                                    <div class="col">
                                    </div>
                                    <div class="col-4 border">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="/static/assets/icons/active.svg" class="icon"/>
                                            </div>
                                            <div class="col-9">
                                                <span>0</span><br>
                                                <span>Active</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 border">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="/static/assets/icons/invoicing.svg" class="icon"/>
                                            </div>
                                            <div class="col-9">
                                               <span>$0.00</span><br>
                                                <span>Invoiced</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">
                                        <h6>Address</h6>
                                    </div>
                                    <div class="col-6" style="border-left: 1px solid gray;">
                                        <a href="">(edit)</a>
                                        <p> 93, Press Avenue</p>
                                        <p> Le Bourget,du Lac 73377</p>
                                        <p>France</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h6>Tin</h6>
                                    </div>
                                    <div class="col-6" style="border-left: 1px solid gray;">
                                        <input type="text" style="width:280px;">
                                    </div>
                                </div>
                                <div class="row  mt-1">
                                    <div class="col-6">
                                        <h6>Tags</h6>
                                    </div>
                                    <div class="col-6" style="border-left: 1px solid gray;">
                                        <select id="Tags" class="form-control input-style">
                                            <option selected>Tags...</option>
                                            <option>XYZ</option>
                                            <option>ABC</option>
                                            <option>MNO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row ">
                                    <div class="col-3">
                                        <h6>
                                            Job position
                                        </h6>
                                    </div>
                                    <div class="col-9" style="border-left: 1px solid gray;">
                                        <input type="text" class="form-control" placeholder="e.g. Sales Director"
                                               id="jobposition">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-3">
                                        <h6>
                                            Phone
                                        </h6>
                                    </div>
                                    <div class="col-9" style="border-left: 1px solid gray;">
                                        <input type="number" class="form-control" placeholder="01942420726"
                                               id="phone">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-3">
                                        <h6>
                                            Mobile
                                        </h6>
                                    </div>
                                    <div class="col-9" style="border-left: 1px solid gray;">
                                        <input type="number" class="form-control" placeholder="9906123456"
                                               id="mobile">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-3">
                                        <h6>
                                            Email
                                        </h6>
                                    </div>
                                    <div class="col-9" style="border-left: 1px solid gray;">
                                        <input type="email" class="form-control" placeholder="xxx@xmail.com"
                                               id="email">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-3">
                                        <h6>
                                            Website
                                        </h6>
                                    </div>
                                    <div class="col-9" style="border-left: 1px solid gray;">
                                        <input type="url" class="form-control" placeholder="www.website.com"
                                               id="website">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-3">
                                        <h6>
                                            Title
                                        </h6>
                                    </div>
                                    <div class="col-9" style="border-left: 1px solid gray;">
                                        <select id="title" class="form-control input-style">
                                            <option selected>Title</option>
                                            <option>Mr.</option>
                                            <option>Mrs.</option>
                                            <option>MS.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-3">
                                        <h6>
                                            Language
                                        </h6>
                                    </div>
                                    <div class="col-9" style="border-left: 1px solid gray;">
                                        <select id="language" class="form-control input-style">
                                            <option selected>English</option>
                                            <option>Urdu</option>
                                            <option>Hindi</option>
                                            <option>Arabic</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#contacts">Contacts &amp Addresses</a>
                                </li>
                                <li><a data-toggle="tab" href="#internalnotes">Internal Notes</a></li>
                                <li><a data-toggle="tab" href="#salespurchasing">Sales &amp Purchasing</a></li>
                                <li><a data-toggle="tab" href="#invoicing">Invoicing</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="contacts" class="tab-pane fade in active">
                                    <div class="row ml-3">
                                        <a href="/" class="btn btn-lg btn-outline-primary btn-style border-btn">Create</a>
                                    </div>
                                </div>
                                <div id="internalnotes" class="tab-pane fade">

                                </div>
                                <div id="salespurchasing" class="tab-pane fade">

                                </div>
                                <div id="invoicing" class="tab-pane fade">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
{% endblock%}